@page
@model InvoiceApp.Pages.Invoices.IndexModel
@{
}

<h2 class="text-center mb-3">Invoices</h2>
<a class = "btn btn-primary" asp-page="/Invoices/Create">New Invoice</a>

<table class="table ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Invoice Number</th>
            <th>Status</th>
            <th>Client</th>
            <th>Total Price</th>
            <th>Issue Date</th>
            <th>Due action</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var invoice in Model.invoiceList)
        {
            <tr>
                <td>@invoice.Id</td>
                <td>@invoice.Number</td>
                <td>@invoice.Status</td>
                <td>@invoice.ClientName</td>
                <td>@(invoice.Quantity * invoice.UnitPrice)</td>
                <td>@invoice.IssueDate</td>
                <td>@invoice.DueDate</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="/Invoices/Edit" asp-route-id="@invoice.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-page="/Invoices/Delete" asp-route-id="@invoice.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
